<div class="form-container">
  <h1 class="form-title">Nova Turma</h1>
  <%= render 'form', turma: @turma %>
</div>

<%= stylesheet_link_tag "shared_forms" %>
<%= stylesheet_link_tag "turmas" %>
<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" %>
