<div class="form-container">
  <h1 class="form-title">Novo Responsável</h1>
  <%= render 'form', responsavel: @responsavel %>
</div>

<%= stylesheet_link_tag "shared_forms" %>
<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" %>
